[submodule "QCL"]
	path = QCL
	url = gavin@gitserver:/srv/git/software/QCL.git
[submodule "GCL"]
	path = GCL
	url = gavin@gitserver:/srv/git/software/GCL.git
[submodule "SCL"]
	path = SCL
	url = gavin@gitserver:/srv/git/software/SCL.git
[submodule "MCL"]
	path = MCL
	url = gavin@gitserver:/srv/git/software/MCL.git
